.fade-in {
  transform: translate(0px, -150px);
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.5s ease-in-out;
  pointer-events: none;
  &.fade-in-visible {
    transform: translate(0px, 0px);
    opacity: 1;
    pointer-events: all;
  }
}