@font-face {
  font-family: 'AlwaysForever';
  src: url('/fonts/alwaysForever.ttf');
}

$light-shades: #fadeff;

$light-accent: #ffb0c7;

$main-color: #F97193;

$dark-accent: #E6749F;

$dark-shades: #9a0e7e;