@font-face {
  font-family: 'CircularSTD';
  src: url('/fonts/circular-std-medium-500.ttf');
}

$light-shades: #F1F2E5;

$light-accent: #D9A68C;

$main-color: #DD73EA;

$dark-accent: #B374A5;

$dark-shades: #766593;